header {
    font-family: "Sofia", sans-serif;
    background-color: lightgrey;
    padding: 10px;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

h2 {
    color: #454545;
}

h3 {
    color: darkgray;
}

body {
    background-image: url("https://html5book.ru/wp-content/uploads/2015/05/background6.png");
    font-family: 'STIX Two Text', serif;
    margin: 0;
}

.main_content {
    background-image: url("https://html5book.ru/wp-content/uploads/2015/05/background23.png");
    border: darkgrey solid 1px;
    border-radius: 1%;
    width: 75%;
    margin: 10px auto;
    padding: 3%;
}

. text {
    font-family: 'STIX Two Text', serif;
}

section {
    width: 85%;
    margin: 0 auto;
}

img {
    display: block;
    margin: 5px auto;
    width: 70%;
    border: darkgrey solid 1px ;
    border-radius: 5%;
}

.img_gif {
    width: 30%;
}

table {
    border-collapse: collapse;
    color: dimgrey;
    padding: 10px;
    margin: 0 auto;
    width: 70%;
}

th {
    padding: 5px;
    border: 1px solid #15112c;
}

td {
    padding: 5px;
    border: 1px solid midnightblue;
}

footer {
    background-color: lightgrey;
    padding: 10px;
}

.social_network {
    list-style-type: circle;
    list-style-position: outside;
}

p {
    text-indent: 20px;
}

a{
    background: lightgrey;
    color: darkslateblue;
}

a:active {
    color: greenyellow;
}

a:hover {
    color: greenyellow;
}
